* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Helvetica, Arial', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    display: block;
}
.col-white{
    color: #fff;
}
.row {
    padding: 32px 0;
}
.col-half {
    float: left;
    width: 50% !important;
}
.col-3{
    float: left;
    width: 33.333333%;
}
#slider{
    position: relative;
}
.p-rel {
    position: relative;
}
.p-abs {
    position: absolute;
}
.header {
    font-family: 'Lato';
    display: block;
    height: 46.5px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.clear::after{
    content: "";
    display: block;
    clear:both;
}
.btn {
    display: inline-block;
    color: #fff;
    background-color: black;
    text-decoration: none;
}
.btn:hover, .btn:hover i {
    color: #000;
    background-color: #ccc;
    cursor:pointer;
}
.header .subnav {
    list-style-type: none;

}
.more:hover .subnav a{
    display: inline-block;
    text-transform: none;
    padding: 0 16px;
    height: 38.5px;
    line-height: 38.5px;
}
.nav.more:hover>a, .nav.more:hover i{
    color: #000;
    background-color: #ccc;
    cursor:pointer;
}
.header .subnav a{
    min-width: 160px;
    background-color: #fff;
    color: #000;
    display: none;
}
.subnav {
    box-shadow: 0 0 13px rgba(0,0,0,0.4);
} 
.header .subnav a:hover{
    background-color: #ccc;
}
.nav{
    display: block;
    float: left;
    height: 46.5px;
}
.nav a {
    text-transform: uppercase;
    line-height: 46.5px;
    padding: 0 24px;
}
.more-down{
    color: #fff;
    font-size: 13px;
}
.search-btn{
    color: #fff;
    float: right;
    line-height: 46.5px;
    padding: 0 23px;
}
.search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
.slider-header, .slider-text, .slider-content {
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 50px;
    margin-top: 22px;
    letter-spacing: 0px;
}
.slider-header {
    font-size: 24px;
    font-weight: 300;
}
.slider-text{
    font-weight: 550;
    letter-spacing: -0.5px;
}

#Band {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 64px;
}
.head-part {
    padding-top: 64px;
    text-align: center;
}
.title {
    margin: 10px 0 5px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.5;
}
.slogan {
    font-style: italic;
    opacity: 0.6;
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
}
.about-band {
    text-align: justify;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}
.name {
    padding: 15px 0;
    font-family: 'Lato', sans-serif;
}
.mem {
    text-align: center;
}
.mem img {
    max-width: 153.58px;
    border-radius: 4px
}
#tour-sec {
    background-color: #000;
}
#Tour {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}
#Tour .listtour{
    padding: 20px 0 0;
}
#Tour .listtour li{
    background-color: #fff;
    color: #757575;
    list-style-type: none;
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 8px 16px;
    min-height: 40px;
}
#Tour .soldout {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 2.75px 7px;
    margin-left: 16px;
}
#Tour .btn-3 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
    border-radius: 50%;
    right: 32px;
    bottom: 6px;
}
.ticket-content {
    padding: 0 16px;
    width: 100%;
    background-color: #fff;
    border: none;
}
.list-tickets{
    margin: 0 -8px;
    background-color: #000;
    padding: 32px 0 112px;
    font-family: 'Lato', sans-serif;
}
#Tour .ticket {
   padding: 0 8px;
    display: block;
}
.ticket img {
    display: block;
    background-size: cover;
    width: 100%;
    border: none;
}
.ticket img:hover {
    opacity: 0.6;
}
.ticket-content .name-ticket{
    padding: 15px 0;
    font-weight: 770;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}
#Tour p.date-ticket {
    opacity: 0.6;
    padding-bottom: 15px;
    line-height: 1.5;
}
#Tour p.about-ticket {
    line-height: 1.5;
    margin-bottom: 15px;
}
a.btn.buy-ticket {
    padding: 8px 16px;
    margin-bottom: 16px;
    line-height: 1.6;
}
.font-lato{
    font-family: 'Lato', sans-serif;
}
#Contact {
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px 64px;
}
#Contact .contact-box {
    margin: 32px 0;
}
.row-none {
    padding: 0 0;
}
.contact-detail p {
    display: block;
    font-size: 18px;
}
.contact-detail i {
    font-size: 15px;
    width: 30px;
    line-height: 1.9;
}
input[type="text"], input[type="email"] {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
}
#Contact .input {
    padding: 8px;
}
.line1, .line2{
    margin:-8px;
}
#Contact button.btn.send-btn {
    float: right;
    font-size: 15.5px;
    padding: 8px 14px;
    margin: 16px 0;
    border: none;
    line-height: 1.6;
}
.map {
    width: 100%;
    height: auto;
    filter: grayscale(50%);
}

#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer i {
    font-size: 22px;
    opacity: 0.6;
}
#footer p {
    margin: 25px 0 15px;
    font-size: 15px;
    color: #000;
    opacity: 0.6;
    line-height: 1.6;
}
#footer p a {
    color: #000;
    
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modalContainer{
    width: 900px;
    background-color: #fff;
    max-width: calc(100% - 32px);
    animation: modal 0.4s ease;
}
.modal-header {
    align-items: center;
    font-size: 30px;
    padding: 47px;
    background-color: #009688;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    letter-spacing: 4px;
}
.modal .close-modal {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18.5px 20px 15.5px 24px;
    background-color: #009688;
}
.modal .close-modal:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal i.fa-solid.fa-suitcase {
    margin-right: 16px;
}
.modal-body {
    padding: 0 16px;
}
label.modl-label {
    margin-top: 16px;
    display: block;
}
input.modal-input {
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn-pay {
    width: 100%;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    color: #fff;
    
}
.btn-pay:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-footer p{
    float: right;
    margin: 32px 0
}
.modal-footer a{
    color: #2196F3
}
.open{
    display: flex;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translateY(-400px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}